
:root {
  --color-text: #000000;
  --color-background: #F3F5F7;

  --color-black: #16161A;
  --color-white: #FFFFFF;
  --color-grey: #16161A20;
  --color-red: #DB3B2E;
  --color-yellow: #E9D200;
  --color-blue: #4CA6D8;
  --color-green: #3EB065;
  --color-purple: #6200EE;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-bottom: .4rem;
  margin-top: .4rem;
}

.App {
  height: 100%;
  width: 100vw;
}

.border {
  border-width: 2px;
  border-color: var(--color-black);
  border-style: solid;
}

.top-border-drop-shadow {
  border: 1px solid #20202030;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.3);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.3);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.3);
}

.footer {
  position: absolute;
  width: 100vw;
  bottom: 0;
  left: 0;
  justify-content: center;
  display: flex;
}

.one-article-card {
  height: 20vh;;
  width: 50rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  border-style: solid;
  border-color: var(--color-grey);
  border-width: .1rem;
  padding: .5rem;
  margin-bottom: 1rem;
}

.article-row {
  display: flex;
  flex-direction: row;
}

.list-of-found-articles {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 1rem;
  width: 100%;
  height: 70vh;
}

.article-filter-button-container {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.all-article-container {
  display: flex;
  flex-direction: column;
}

.app-padding {
  padding: .5rem
}



/* EFFECTS */

.box-hover-shadow {
  position: relative;
  display: inline-block;
  /*border-radius: 5px;*/
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-hover-shadow::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: .25rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box-hover-shadow:hover {
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}

.box-hover-shadow:hover::after {
  opacity: 1;
}



